@font-face {
    font-family: 'Courgette';
    src: url('font/Courgette-Regular.ttf') format('truetype');
}

body div.header {
    background: url('images/background_header.jpg') no-repeat fixed;
    background-size: 100%;
}

.header-top {
    font-family: 'Courgette';
    font-size: 65px;
    color: white;
}

.title {
    padding: 60px;
    position: relative;
}